{% extends "base.html" %}

{% block title %}Main Page{% endblock %}
{% block main %}

<!-- TODO: Dodać odstępy -->
<!-- TODO: Utulić Olę do snu -->

  <main>

          <p class="lead">Browse through uploaded pdfs below or upload a new one!</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">New pdf</a>
          </p>



    <div class="album py-5 bg-dark">
      <div class="container">

        <div class="card text-black bg-secondary">
          <div class="card-body">
            <h5 class="card-title ">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-white">Uploaded at xd.xd.xdxd</small></p>

          </div>
          hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg
        </div>

      </div>

      <div class="container">

        <div class="card text-black bg-secondary">
          <div class="card-body">
            <h5 class="card-title ">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-white">Uploaded at xd.xd.xdxd</small></p>

          </div>
          hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg
        </div>

      </div>

      <div class="container">

        <div class="card text-black bg-secondary">
          <div class="card-body">
            <h5 class="card-title ">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-white">Uploaded at xd.xd.xdxd</small></p>

          </div>
          hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg
        </div>

      </div>

      <div class="container">

        <div class="card text-black bg-secondary">
          <div class="card-body">
            <h5 class="card-title ">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-white">Uploaded at xd.xd.xdxd</small></p>

          </div>
          hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg
        </div>

      </div>

      <div class="container">

        <div class="card text-black bg-secondary">
          <div class="card-body">
            <h5 class="card-title ">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-white">Uploaded at xd.xd.xdxd</small></p>

          </div>
          hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg hfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfghfdghdfgh dfgh dfgh dfh fdh dfh fdh dfh dfg
        </div>

      </div>
    </div>

  </main>


{% endblock %}
