{% extends "base.html" %}

{% block title %}Log in{% endblock %}
{% block main %}


<div class="text-center">

  <p class="lead">
    Log in:
  </p>

  <form action="/login" method="POST" enctype="multipart/form-data">

    <div class="mb-4">
      <label for="password">Password</label>
      <input class="form-control" type="text" name="password" id="passwordbox">
    </div>

    <div class="form-actions">
      <button name="action_save" type="submit" class="btn btn-primary">
        Log in
      </button>
    </div>

  </form>

  {% if wrong_password %}
    <p style="margin-bottom:0.5cm;"></p>
    <div class="alert alert-danger" role="alert">
      Wrong password!
    </div>
  {% else %}
  {% endif %}

</div>

{% endblock %}
