{% extends "base.html" %}

{% block title %}Options{% endblock %}

{% block main %}

<div class="row justify-content-center">
  <form action="/options" method="POST" enctype="multipart/form-data">

    <p class="lead">
      Connecting
    </p>

    <div class="mb-4">
      <label for="password">Password</label>
      <input class="form-control" type="text" name="password" id="passwordbox" placeholder="PAs$$VVoRd" value="{{ current_password }}">
      <p> Type "&ltrandom&gt" for a random password </p>
    </div>


    <hr class="mb-4">
    <p class="lead">
      Saving
    </p>

    <div class="mb-3">
      <label for="filename">Filename</label>
      <input class="form-control" type="text" name="filename" id="filenamebox" placeholder="E.g. Kolokwium_<date>_Maciej_Wasilewski" value="{{ current_default_filename }}">
      <p> "&ltdate&gt" will be replace with current date as specified in the box "Date format"</p>
    </div>

    <div class="mb-3">
      <label for="dateformat">Date format</label>
      <input class="form-control" type="text" name="dateformat" id="dateformatbox" placeholder="E.g. %H:%M:%S_%d-%m-%Y" value="{{ current_date_format }}">


      <div class="row">

        <div class="col">
          <ul>
            <li>%H - hour</li>
            <li>%M - minute</li>
            <li>%S - second</li>
          </ul>
        </div>

        <div class="col">
          <ul>
            <li>%d - day</li>
            <li>%m - month</li>
            <li>%Y - year</li>
          </ul>
        </div>


      </div>
    </div>

    <hr class="mb-4">
    <div class="custom-control custom-checkbox">
      <input name="rotate" type="checkbox" class="custom-control-input" id="rotate" {{ rotate }}>
      <label class="custom-control-label" for="rotate">Rotate if image width is greater than height</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input name="sharpen" type="checkbox" class="custom-control-input" id="sharpen" {{ sharpen }}>
      <label class="custom-control-label" for="sharpen">Sharpen the image</label>
    </div>

    <div class="custom-control custom-checkbox">
      <input name="grayscale" type="checkbox" class="custom-control-input" id="grayscale" {{ grayscale }}>
      <label class="custom-control-label" for="grayscale">Grayscale</label>
    </div>

    <hr class="mb-4">

    <div class="custom-control custom-checkbox">
      <input name="remember" type="checkbox" class="custom-control-input" id="remember" {{ remember }}>
      <label class="custom-control-label" for="remember">Remember settings</label>
    </div>

    <hr class="mb-4">

      <!-- BUTTON -->

    <div class="row justify-content-center mb-3">
      <button type="submit" class="btn btn-primary">
        Save
      </button>
    </div>

  </form>

  <form name="default" action="/options" method="POST" enctype="multipart/form-data" value="XDDD">
    <div class="row justify-content-center mb-3">
      <button type="submit" class="btn btn-secondary text-white" value="1" name="default">
        Restore default settings
      </button>
    </div>
  </form>

  <form name="deletedb" action="/options" method="POST" enctype="multipart/form-data" value="XDDD">
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-warning text-black" value="1" name="deletedb">
        Reset database
      </button>
    </div>
  </form>

</div>


{% endblock %}
