{% extends "base.html" %}

{% block title %}Main Page{% endblock %}
{% block main %}


  <main>

          <p class="lead"> Create new pdf: </p>

            <form action="/upload" method="POST" enctype="multipart/form-data">

              <!-- <div claass="form-group">
                  <label>Select photo</label>
                  <div>
                      <input type="file" class="custom-file-input" name="image" id="image">
                  </div>
              </div>

              <button type="submit" class="btn btn-primary">Upload</button> -->

              {{ photo_form.photo }}
              <p style="margin-bottom:0.5cm;"></p>
              <div class="form-actions">
                  <button name="action_save" type="submit" class="btn btn-primary">Upload</button>
              </div>

          </form>


  </main>


{% endblock %}
